.navbar {
  width: 1280px;
  height: 72px;
  display: flex;
  justify-content: center;
  z-index: 2;
  position: absolute;
  top: 0;
}
.navbar nav {
  max-width: 980px;
  min-height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar nav .navLeft {
  position: relative;
  display: flex;
  width: 451px;
  height: 42px;
}
.navbar nav .navLeft img {
  width: 92px;
  height: 42px;
}
.navbar nav .navRight {
  width: 530px;
  height: 42px;
  display: flex;
}
.navbar nav .navRight a {
  padding: 10px;
  letter-spacing: 2px;
  text-decoration: none;
  color: black;
}
